body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

#list {
    color: #f15700;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}

#timer {
    color: #f12e00;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    padding-bottom: 50px;
}

.list {
    align-items: center;
    background-color: #ffb030;
    border: 5px solid #f15700;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 1000px;

}